.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
 
}

.App-link {
  color: #61dafb;
}

.nav {
  border : 1px solid;
  display: flex;
  width: 80vw;
  justify-content: space-evenly;
 font-size: larger;
}

.project-section {
  /* border: 1px solid; */
  display: flex;
  /* width: 30vw; */
  justify-content: center;
  /* grid-row: span; */
}

.project-card {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100vw; 
}

.contact-form {
  
  width: 50vw;
  padding: 5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
